
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


img{
    max-width: 100%;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3rem 0.5rem 1rem;
}

h1{
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    padding-left: 4.5rem;
    margin-bottom: 10px;
}
h1 span{
    display: block;
    margin-left: auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.container{
    position: relative;
}

.slides-container{
    display: flex;
    max-width: 420px;
    overflow-x: hidden;
    border-radius: 1rem;
    box-shadow: 0 0 20px #fff;
}
.slides-container img{
    transition: transform 0.3s ease-in-out;
}

.arrow-left, .arrow-right{
    position: absolute;
    top: 50%;
    left: -4.5rem;
    transform: translateY(-50%);
    font-size: 3.5rem;
    cursor: pointer;
}
.arrow-right{
    left: calc(1rem + 420px);
}
.arrow-left:hover, .arrow-right:hover{
    text-shadow: 0 0 10px #fff;
}

.dots{
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    translate: -50% 0;
    /* transform: translateX(-50%); */
    bottom: 1.5rem;
}
.dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.dot.active{
    scale: 1.5;

}

@media ( width  <= 850px ){
    :root{
        font-size: 80%;
    }

    main{
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 1rem;
    }

    h1{
        padding-left: 0;
        padding-bottom: 0.5rem;
    }

    h1 span{
        writing-mode: initial;
        display: inline;
    }



}

